/* base.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: 20px;
}

a {
    color: #333;
}

header {
    background: #f2f2f2;
    padding: 20px;
}
